<div class="hero-wrapper container container-stretched border">
    <div class="hero-header-container border">
        <div class="hero-header-main">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <div class="hero-header-secondary">
            Suspendisse pulvinar fringilla nibh in convallis. Sed quis orci ullamcorper, feugiat ante vitae, tincidunt lectus. Sed at orci semper, vehicula lorem in, ultricies urna.
        </div>
    </div>
    <div class="hero-banner-container border">
        <div class="hero-banner">
            <img src="assets/images/vegetables-15395.png">
        </div>
    </div>
</div>