.flash-message{
 position: fixed;
 top: 5%;
 z-index: 1201;
 right: 30%;
 left: 30%;
 text-align: center;
}

.flash-msg-hidden{
opacity: 0;
transition: opacity 1;
overflow: hidden;
}

.flash-msg-shown{
opacity: 1;
transition: opacity 1;
overflow: hidden;
}