.shopping-cart-container{
    text-align: center;
    width: 100%;

    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 900px 150px ; */
}

.cart-header{
 background-color:rgba(0,0,0,.1);
 border: solid 1px;
 border-right: solid 1px;
}

.cart-item-row{
    background-color: #fff;
    height: 50px;
    border: solid 1px;
    border-right: solid 1px;
    width: 100%;
}

.shopping-cart-container
table {
    margin: 0 auto;
}

.shopping-cart-container
table 
tr 
td {
    border: solid 1px;
    height: 150px;
    width: 150px;
}

.cart-summary-container{
    border: solid 1px;
    border-top: none;
    height: 150px;
    width: 150px;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn-container div::after{
    display: block;
    content: ' ';
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.decrease-qty-btn::after{
  background-image: url('../icons/minus.svg');
}

.increase-qty-btn::after{
    background-image: url('../icons/plus.svg');
}

img{
    width: 100%;
    height: auto;
}