<div class="shopping-cart-container">
    <table>
        <thead class="cart-header">
            <tr>
                <td>
                    Options
                </td>
                <td>
                    Picture
                </td>
                <td>
                    Name
                </td>
                <td>
                    Price
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Total
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartItem of cartItems; let i = index" class="cart-item-row">
                <td>
                    <div class="btn-container">
                        <div class="increase-qty-btn" id="{{cartItem.productId}}" (click)="increaseQty($event)"></div>
                        <div class="decrease-qty-btn" id="{{cartItem.productId}}" (click)="decreaseQty($event)"></div>
                    </div>
                </td>
                <td>
                    <img src="{{cartItem.imgUrl}}">
                </td>
                <td>
                    {{ cartItem.name }}
                </td>
                <td>
                    {{ cartItem.price | currency: 'USD' }}
                </td>
                <td>
                    {{ cartItem.quantity }}
                </td>
                <td>
                    {{ cartItem.total | currency: 'USD' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>