<div class="admin-products container">
  <p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts">
        <td>{{ p.name}}</td>
        <td>{{ p.price | currency: 'USD'}}</td>
        <td><a routerLink="/admin/products/{{p.id}}">Edit</a></td>
      </tr>
    </tbody>
</table>
</div>
