<div class="home-page-container">

    <div class="full-width-container">
        <div class="hero-wrapper container container-stretched border">
            <div class="hero-header-container border">
                <div class="hero-header-main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="hero-header-secondary">
                    Suspendisse pulvinar fringilla nibh in convallis. Sed quis orci ullamcorper, feugiat ante vitae, tincidunt lectus. Sed at orci semper, vehicula lorem in, ultricies urna.
                </div>
            </div>
            <div class="hero-banner-container border">
                <div class="hero-banner">
                    <img src="assets/images/vegetables-15395.png">
                </div>
            </div>
        </div>
    </div>

    <div class="home-page-featured-wrapper container border">
        <div class="home-page-featured-title border">
            Categories
        </div>
        <div class="home-page-featured-items border">
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 1
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 2
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 3
                </div>
            </div>
        </div>
    </div>

    <div class="home-page-featured-wrapper container border">
        <div class="home-page-featured-title border">
            Products Featured
        </div>
        <div class="home-page-featured-items border">
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 1
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 2
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 3
                </div>
            </div>
        </div>
    </div>


    <div class="home-page-featured-wrapper container border">
        <div class="home-page-featured-title border">
            Products Latest
        </div>
        <div class="home-page-featured-items border">
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 1
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 2
                </div>
            </div>
            <div class="home-page-featured-item border">
                <div class="home-page-featured-img">
                    <img src="assets/images/placeholder-1-e1533569576673-960x960.png">
                </div>
                <div class="home-page-featured-item-title">
                    Title 3
                </div>
            </div>
        </div>
    </div>

    

</div>