@media (min-width: 2020px){
    .container-stretched{
        max-width: 65%;
    }
}

.border{
    border: 1px solid;
}

img{
    width: 125px;
    height: auto;
}

.home-page-container{
    display: grid;
}